# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated binaries/ packages etc.
bin/*
out/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# tempory-files
.tmp/*


# Editors
.vscode/*
.idea/*

# Generated debian packages
*.deb
deployments/_build/*
XX_*
dump_*
.aml-jens/**/*
comparison_sessions/**/*