Package: jens-cli
Version: TEMPLATE_VERSION
Section: base
Priority: optional
Architecture: all
Depends: iproute2-jens (>=5.10.0-4jens25)
Breaks: jens (<=900.0)
Maintainer: Deutsche Telekom AG <edge-computing@telekom.de>
Provides: drplay, drshow, drbenchmark
Description: jens-cli is the CommandlineInterface for JENS. JENS is the Jitter and latency Edge Network Simulator for the AML trials. This package provides the jens-cli main components with minimal dependencies. These components include: drplay and drshow.
